<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Java</display-name>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>en_US</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>locale</param-value>
    </context-param>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>
            servlets.EncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>security</filter-name>
        <filter-class>login.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>security</filter-name>
        <url-pattern>/personalArea.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>adminSecurity</filter-name>
        <filter-class>login.AdminSecurity</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminSecurity</filter-name>
        <url-pattern>/table/adminHorseTable.jsp</url-pattern>
    </filter-mapping>

</web-app>